/*body {*/
/*    font-family: Arial;*/
/*    margin: 0;*/
/*}*/

/** {*/
/*    box-sizing: border-box;*/
/*}*/

/*img {*/
/*    vertical-align: middle;*/
/*}*/

/* Position the image container (needed to position the left and right arrows) */


.container-gallery {
    position: relative;
}

/* Hide the images by default */
.mySlides1 {
    display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev1,
.next1 {
    cursor: pointer;
    position: absolute;
    /*top: 98%;*/
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.prev1 {

    left: -15px;
    top: 720px;
}
.next1 {

    right: -17px;
    top: 720px;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */
.prev1:hover,
.next1:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext1 {
    /*color: #f2f2f2;*/
    /*font-size: 12px;*/
    /*padding: 8px 12px;*/
    /*position: absolute;*/
    /*top: 0;*/
    display: none;
}

/* Container for image text */
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.column {
    float: left;
    width: 18%;
    /*position: relative;*/
    margin-top: 20px;

}

/* Add a transparency effect for thumnbail images */
.demo {

    width: 100%;
    height: auto;
    margin-left: 53px;
    padding-left: 10px;
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

.container_head  {
    padding: 70px 0;
}

.slide_head {
    /*width: 1953px;*/
    /*height: 71px;*/
    padding: 20px 0;
    min-width: 100%;
    font-size: 35px;
    letter-spacing: 2px;
    line-height: 23px;
    color: #000000;
    font-family: "Roboto";
    text-align: center;
    background-color: rgba(255, 255, 255, .6);;
    border: 1px solid #ffffff;
}

.btn2    {
    /*width: 193px;*/
    /*height: 60px;*/
    border-radius: 30px;
    filter: drop-shadow(0px 3px 1.5px rgba(0,0,0,0.8));
    background-color: #981717;
    border: 1px solid #981717;
    margin: 50px 0 100px 475px;
}

#bg_section{

    background-size:cover;
    background-repeat:no-repeat;
    background-position:center top;

}

@media (max-width:1200px ) {
    .prev1 {

        left: 0;
        top: 620px;
    }
    .next1 {

        right: -17px;
        top: 620px;
        border-radius: 3px 0 0 3px;
    }
    .slide_head {

        padding: 20px 0;
        min-width: 100%;
        font-size: 30px;
        letter-spacing: 2px;
        line-height: 23px;

    }
    .btn2    {
        border-radius: 30px;
        filter: drop-shadow(0px 3px 1.5px rgba(0,0,0,0.8));
        background-color: #981717;
        border: 1px solid #981717;
        margin: 50px 0 100px 400px;
    }
}

@media (max-width: 991px ) {
    .prev1 {

        left: -15px;
        top: 460px;
    }
    .next1 {

        right: -17px;
        top: 460px;
        border-radius: 3px 0 0 3px;
    }
    .slide_head {

        padding: 20px 0;
        min-width: 100%;
        font-size: 25px;
        letter-spacing: 2px;
        line-height: 23px;

    }
    .btn2    {
        border-radius: 30px;
        filter: drop-shadow(0px 3px 1.5px rgba(0,0,0,0.8));
        background-color: #981717;
        border: 1px solid #981717;
        margin: 50px 0 0 270px;
    }


   /* Add a transparency effect for thumnbail images */
    .demo {

        width: 100%;
        height: auto;
        margin-left: 32px;
        padding-left: 10px;
        opacity: 0.6;
    }
}

@media (max-width: 767px) {
    .pr1,
    .ne1 {
      width: 16px;
    }
    .prev1 {

        left: -15px;
        top: 352px;
    }
    .next1 {

        right: -17px;
        top: 352px;
        border-radius: 3px 0 0 3px;
    }
    .slide_head {

        padding: 20px 0;
        min-width: 100%;
        font-size: 23px;
        letter-spacing: 2px;
        line-height: 23px;

    }
    .btn2    {
        border-radius: 30px;
        filter: drop-shadow(0px 3px 1.5px rgba(0,0,0,0.8));
        background-color: #981717;
        border: 1px solid #981717;
        margin: 50px 0 0 180px;
    }


    /* Add a transparency effect for thumnbail images */
    .demo {

        width: 100%;
        height: auto;
        margin-left: 22px;
        padding-left: 10px;
        opacity: 0.6;
    }
}

@media (max-width: 575px) {
    .pr1,
    .ne1 {
        width: 16px;
    }
    .prev1 {

        left: -13px;
        top: 360px;
    }
    .next1 {

        right: -13px;
        top: 360px;
        border-radius: 3px 0 0 3px;
    }

}
@media (max-width: 568px) {
    .pr1,
    .ne1 {
        width: 15px;
    }
    .prev1 {

        left: -13px;
        top: 355px;
    }
    .next1 {

        right: -13px;
        top: 355px;
        border-radius: 3px 0 0 3px;
    }

}

@media (max-width: 550px) {
    .pr1,
    .ne1 {
        width: 14px;
    }
    .prev1 {

        left: -13px;
        top: 340px;
    }
    .next1 {

        right: -13px;
        top: 340px;
        border-radius: 3px 0 0 3px;
    }
}

@media (max-width: 530px) {
    .pr1,
    .ne1 {
        width: 12px;
    }
    .prev1 {

        left: -15px;
        top: 330px;
    }
    .next1 {

        right: -15px;
        top: 330px;
        border-radius: 3px 0 0 3px;
    }
}

@media (max-width: 506px) {
    .pr1,
    .ne1 {
        width: 11px;
    }
    .prev1 {

        left: -10px;
        top: 320px;
    }
    .next1 {

        right: -15px;
        top: 320px;
        border-radius: 3px 0 0 3px;
    }
}

@media (max-width: 490px) {
    .pr1,
    .ne1 {
        width: 10px;
    }
    .prev1 {

        left: -15px;
        top: 310px;
    }
    .next1 {

        right: -15px;
        top: 310px;
        border-radius: 3px 0 0 3px;
    }
    .btn2    {
        border-radius: 30px;
        filter: drop-shadow(0px 3px 1.5px rgba(0,0,0,0.8));
        background-color: #981717;
        border: 1px solid #981717;
        margin: 50px 0 0 150px;
    }


    /* Add a transparency effect for thumnbail images */
    .demo {

        width: 100%;
        height: auto;
        margin-left: 20px;
        padding-left: 10px;
        opacity: 0.6;
    }
}

@media (max-width: 470px) {
    .pr1,
    .ne1 {
        width: 10px;
    }
    .prev1 {

        left: -15px;
        top: 292px;
    }
    .next1 {

        right: -15px;
        top: 292px;
        border-radius: 3px 0 0 3px;
    }
    .btn2    {
        border-radius: 30px;
        filter: drop-shadow(0px 3px 1.5px rgba(0,0,0,0.8));
        background-color: #981717;
        border: 1px solid #981717;
        margin: 50px 0 0 135px;
    }


    /* Add a transparency effect for thumnbail images */
    .demo {

        width: 100%;
        height: auto;
        margin-left: 17px;
        padding-left: 10px;
        opacity: 0.6;
    }
}

@media (max-width: 445px) {
    .pr1,
    .ne1 {
        width: 10px;
    }
    .prev1 {

        left: -15px;
        top: 278px;
    }
    .next1 {

        right: -15px;
        top: 278px;
        border-radius: 3px 0 0 3px;
    }
    .btn2    {
        border-radius: 30px;
        filter: drop-shadow(0px 3px 1.5px rgba(0,0,0,0.8));
        background-color: #981717;
        border: 1px solid #981717;
        margin: 50px 0 0 120px;
    }


    /* Add a transparency effect for thumnbail images */
    .demo {

        width: 100%;
        height: auto;
        margin-left: 17px;
        padding-left: 10px;
        opacity: 0.6;
    }
}

@media (max-width: 420px) {
    .pr1,
    .ne1 {
        width: 10px;
    }
    .prev1 {

        left: -15px;
        top: 260px;
    }
    .next1 {

        right: -15px;
        top: 260px;
        border-radius: 3px 0 0 3px;
    }
    .btn2    {
        border-radius: 30px;
        filter: drop-shadow(0px 3px 1.5px rgba(0,0,0,0.8));
        background-color: #981717;
        border: 1px solid #981717;
        margin: 50px 0 0 120px;
    }


    /* Add a transparency effect for thumnbail images */
    .demo {

        width: 100%;
        height: auto;
        margin-left: 23px;
        padding-left: 10px;
        opacity: 0.6;
    }
    .column {
        float: left;
        width: 17%;
        /*position: relative;*/
        margin-top: 20px;

    }
}

@media (max-width: 390px) {
    .pr1,
    .ne1 {
        width: 10px;
    }
    .prev1 {

        left: -15px;
        top: 240px;
    }
    .next1 {

        right: -15px;
        top: 240px;
        border-radius: 3px 0 0 3px;
    }
    .btn2    {
        border-radius: 30px;
        filter: drop-shadow(0px 3px 1.5px rgba(0,0,0,0.8));
        background-color: #981717;
        border: 1px solid #981717;
        margin: 50px 0 0 90px;
    }

    .demo {

        width: 100%;
        height: auto;
        margin-left: 23px;
        padding-left: 10px;
        opacity: 0.6;
    }
    .column {
        float: left;
        width: 17%;
        /*position: relative;*/
        margin-top: 20px;

    }
}

@media (max-width: 370px) {
    .pr1,
    .ne1 {
        width: 10px;
    }
    .prev1 {

        left: -15px;
        top: 230px;
    }
    .next1 {

        right: -15px;
        top: 230px;
        border-radius: 3px 0 0 3px;
    }
    .btn2    {
        border-radius: 30px;
        filter: drop-shadow(0px 3px 1.5px rgba(0,0,0,0.8));
        background-color: #981717;
        border: 1px solid #981717;
        margin: 50px 0 0 90px;
    }

    .demo {

        width: 100%;
        height: auto;
        margin-left: 23px;
        padding-left: 10px;
        opacity: 0.6;
    }
    .column {
        float: left;
        width: 17%;
        /*position: relative;*/
        margin-top: 20px;

    }
}

@media (max-width: 350px) {

    .prev1 {

        left: -15px;
        top: 220px;
    }
    .next1 {

        right: -15px;
        top: 220px;
        border-radius: 3px 0 0 3px;
    }
    .btn2    {
        border-radius: 30px;
        filter: drop-shadow(0px 3px 1.5px rgba(0,0,0,0.8));
        background-color: #981717;
        border: 1px solid #981717;
        margin: 50px 0 0 80px;
    }

    .demo {

        width: 100%;
        height: auto;
        margin-left: 20px;
        padding-left: 10px;
        opacity: 0.6;
    }

}

@media (max-width: 335px) {

    .prev1 {

        left: -15px;
        top: 210px;
    }
    .next1 {

        right: -15px;
        top: 210px;
        border-radius: 3px 0 0 3px;
    }
    .btn2    {
        border-radius: 30px;
        filter: drop-shadow(0px 3px 1.5px rgba(0,0,0,0.8));
        background-color: #981717;
        border: 1px solid #981717;
        margin: 50px 0 0 70px;
    }

    .demo {

        width: 100%;
        height: auto;
        margin-left: 17px;
        padding-left: 10px;
        opacity: 0.6;
    }

}

